Chokkan
Fukunagashi
Han-kengai
Kengai
Literatti
Moyogi
Shakan
.idea
RandomState
exampleImg.jpg
GoogleNet10EpochsK-Folds1.tf
GoogleNet10EpochsK-Folds2.tf
GoogleNet10EpochsK-Folds3.tf
GoogleNet10EpochsK-Folds4.tf
GoogleNet10EpochsK-Folds5.tf
GoogleNet10EpochsK-Folds6.tf
GoogleNet10EpochsK-Folds7.tf
GoogleNet10EpochsK-Folds8.tf
GoogleNet10EpochsK-Folds9.tf
GoogleNet10EpochsK-Folds10.tf
trainHistory1
trainHistory2
trainHistory3
trainHistory4
trainHistory5
trainHistory6
trainHistory7
trainHistory8
trainHistory9
trainHistory10