Chokkan
Fukunagashi
Han-kengai
Kengai
Literatti
Moyogi
Shakan
.idea
RandomState
exampleImg.jpg
GoogleNet10EpochsK-Folds1.tf
GoogleNet10EpochsK-Folds2.tf
GoogleNet10EpochsK-Folds3.tf
GoogleNet10EpochsK-Folds4.tf
GoogleNet10EpochsK-Folds5.tf
GoogleNet10EpochsK-Folds6.tf
GoogleNet10EpochsK-Folds7.tf
GoogleNet10EpochsK-Folds8.tf
GoogleNet10EpochsK-Folds9.tf
GoogleNet10EpochsK-Folds10.tf
trainHistory1
trainHistory2
trainHistory3
trainHistory4
trainHistory5
trainHistory6
trainHistory7
trainHistory8
trainHistory9
trainHistory10
best_model1.hdf5
best_model2.hdf5
best_model3.hdf5
best_model4.hdf5
best_model5.hdf5
best_model6.hdf5
best_model7.hdf5
best_model8.hdf5
best_model9.hdf5
best_model10.hdf5