Chokkan
Fukunagashi
Kengai
Literatti
Moyogi
Shakan
.idea
RandomState
exampleImg.jpg
GoogleNet10EpochsK-Folds1.tf
GoogleNet10EpochsK-Folds2.tf
GoogleNet10EpochsK-Folds3.tf
GoogleNet10EpochsK-Folds4.tf
GoogleNet10EpochsK-Folds5.tf
trainHistory1
trainHistory2
trainHistory3
trainHistory4
trainHistory5